<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="restassuredsuites">




<test thread-count="5" name="restassuredtests">
<classes>
<class name="com.restassuredautomation.testcases.TC001_GET_AllEmployee" />
<class name="com.restassuredautomation.testcases.TC002_GET_Single_Employee_Data"/>
<class name="com.restassuredautomation.testcases.TC003_POST_Create_Employee"/>
<class name="com.restassuredautomation.testcases.TC004_PUT_UpdateEmployee"/>
<class name="com.restassuredautomation.testcases.TC005_DELETE_Employee"/>
</classes>
</test>
</suite>
